<!-- Header -->
<div class="edit-class-parent head">
    <div class="header-title"> <b>Edit class</b> </div>
    <div><button (click)="cancelEdit();" class="btn-cancel" >Cancel</button></div>
</div>

<!-- Body -->
<div class="edit-class-parent">
    <!-- Class info form -->
    <div class="edit-class-element">
        <div *ngFor = "let class of class_data_arr " class="class-info-body">
            <form [formGroup]="classUpdateForm" (ngSubmit)="completeEdit(subject.value, day.value, period.value)" class="edit-form">
                <div class="edit-form-fields">
                    <div class="edit-form-element">
                        <label for="subject"><b>Subject:</b></label>   
                        <select #subject name="subject" id="subject" (change)="valueChangeSubject($event.target)">
                            <option *ngFor="let option of subject_arr" 
                            [selected]="option.subject === selected_subject" [value]="option.subject"> 
                                {{option.subject}}
                            </option>

                        </select>   
                    </div>
                    <div class="edit-form-element">
                        <label for="day"><b>Day:</b></label>
                        <select #day name="day" id="day" (change)="valueChangeDay($event.target)">
                            <option *ngFor="let option of day_options" 
                            [selected]="option === selected_day" [value]="option" >
                                {{option}}
                            </option>
                        </select>
                    </div>
                    <div class="edit-form-element">
                        <label for="period"><b>Period:</b></label>
                        <input #period type="number" name="period" id="period" min="1" max="10" value={{class.period}}>
                    </div>
                </div>
    
                <div class="submit-btn">
                    <div ><button type="submit" class="btn-save">Save</button></div>
                    <div><button type="button" class="btn-del" (click)="deleteConfirm(modal);">Delete</button></div> 
                </div>
                      
            </form>
            <!-- Students in class -->
            <div class="list-overflow">
                <div *ngFor ="let student of class.students" class="class-student-record">
                    <div class="name-year">
                        <div class="name-year-element"><b>Name:</b>{{student.name}}</div>
                        <div class="name-year-element"><b>Year group:</b>{{student.year_group}}</div>
                    </div>
                    <div><button (click)="removeStudent(student.id)">Remove</button></div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Student list -->
    <div class="edit-class-element">
        <div class="tenant-student-list-header head-2"><b>Choose students to add:</b></div>
        <div class="list-overflow">
            <div *ngFor="let student of tenant_student_arr | ObjSortPipe: 'year_group'" class="class-student-record">
                <div>
                    <div class="name-year-element"><b>Name:</b><div>{{student.first_name}}&nbsp;{{student.surname}}</div></div>
                    <div class="name-year-element"><b>Year group:</b>{{student.year_group}}</div>
                </div>
                <div><button (click)="addStudent(student._id)">Add</button></div>
            </div>
        </div>
    </div>
</div>

<!-- Delete confirmation modal -->
<div #modal class="hidden">
    <div class="modal-box">
        <div class="modal-box-content">
            <div class="modal-body">
                <div><h2>Delete this class?</h2></div>
                <div>Warning: This will permanently delete this class.</div>
                <div class="modal-btn-content">
                   <div><button class="btn-del" (click)="deleteClass();">Delete</button></div>
                   <div>
                       <button class="btn-del-confirm-cancel" (click)="deleteConfirm(modal);">
                           Cancel
                        </button>
                    </div>      
                </div>
            </div>
        </div>
    </div>
</div>

