.assignments-body {
    display: flex;
    flex-direction: column;
    padding:20px;
    margin: 20px;
    justify-content: center;
}

.assignments {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.assignment-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: x-large;
    border: 1px solid #949494;
    padding:20px;
    margin-left: 8px;
    margin-bottom: 14px;
    background-color: #FAFAFA;
}

.class-instance {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #949494;
    background-color: #F5FCFF;

}

.assignment-instance {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 8px;
    border: 1px dotted #949494;
}


.class-info-element {
    display: flex;
    flex-direction: row;
    width: 30%;
    padding: 4px;
    justify-content: space-evenly;
}

.assignment-info-element {
    display: block;
    font-size: larger;
    max-width: 25%;
    min-width:25%;
    padding:6px;
    justify-content: space-evenly;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.assignment-btn-element {
    display: flex;
    flex-direction: row;
    width: 45%;
    padding:4px;
    justify-content: space-evenly;
}

.assignment-btn-element-incomplete {
    display: flex;
    flex-direction: row;
    width: 30%;
    padding:4px;
    justify-content: space-evenly;
}

.modal-box {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    justify-content: center;
}

.modal-box-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 2px solid #888;
    width: 50%; 
}

.modal-body {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content:center;
    font-size: x-large;
    font-weight: bolder;
    width:70%
}

.modal-btn-content {
    display: flex;
    margin: 20px;
    width: 80%;
    justify-content: space-between;
    margin-left: 70px;
}

.btn-save {
    width:70px;
    height:30px;
    border: 2px solid #040273;
    font-size: medium;
    font-weight: 700;
    background-color: #e3e2fe;
    margin-top: 5px;
}
.btn-save:hover {
    filter: brightness(110%);
}

.btn-save-cancel {
    width:70px;
    height:30px;
    font-weight: 700;
    border: 2px solid;
    font-size: medium;
    margin-top: 5px;
}
.btn-save-cancel:hover {
    filter: brightness(110%);
}

.btn-delete {
    width:70px;
    height:30px;
    border: 2px solid #E81919;
    font-size: medium;
    font-weight: 700;
    background-color: #F7B3B3;
    margin-top: 5px;
}
.btn-delete:hover {
    filter: brightness(110%);
}

.add-form-element {
    display: flex;
    flex-direction: row;
    margin:10px;
    justify-content: space-between;
    width:110%;
}

.centered{
    display: flex;
    justify-content: center;
    margin: 6px;
    padding:10px;
    width:120%;

}

.add-form-input{
    width: 200px;
    font-size: large;

}

.form-element-button {
    width: 90px;
    height:40px;
}

.edit-modal-header {
    display: flex;
    flex-direction: row;
    padding:4px;
    width:110%;
    justify-content: space-between;
}

.modal-header-title {
    font-size: 1.5em;
    font-weight: bold;
}

.assignment-current-details {
    padding:6px;
    margin:2px;
    display: flex;
    flex-direction: column;
    font-size: large;
    font-weight: normal;
    width: 80%;
}

.assignment-detail-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6px;
}

.info-label {
    display: block;
    width: 200px;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.class-assignment-sub-header {
    font-size: larger;
    font-weight: 900;
    margin: 8px;
}

.header-info {
    font-size: smaller!important;
    font-weight: normal!important;
    font-style: italic;
}